@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    font-family: 'VT323', monospace;
}

html {
    background-image: url("/res/img/real.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#bellingham {
    max-width: 600px;
    width: 100%;
    display: table;
    margin: 0 auto;
    transition: .3s ease;
    cursor: pointer;
    
}
#bellingham:active{
    
    transform: scale(1.1);
}

#container {
    position: absolute;
    width: 30%;
    margin: 0 auto;
    bottom: 30px;
    left: 35%;
    margin-top: 5em;
}

#counter {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

